<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Garne</title>
</head>

<script>

    /*{
        "cpr": "1"
        "issued_at": 1000,
        "exp": "1600"
    }*/
    window.addEventListener('message', event => {
        //const jwt = {"cpr": "12345", "iat": 1646214632, "exp": 1646215232}
        //console.log(jwt)
        console.log("Token in Backend: " + event.data)
        const jwt = {"jwt": event.data}
        fetch("/validate", {
            method: "POST",
            headers: {
                "Content-Type": "application/json",
            },
            body: JSON.stringify(jwt)
        })
            .then(response => {console.log(response)})
            .then(data => {console.log(data)})
    }, false)
</script>

<body>
    <nav>
        <a href="/">Home</a>
        <a href="/about">About</a>
        <a href="/contact">Contact</a>
    </nav>

    <main>
        <iframe 
        src="https://mitid.eu.pythonanywhere.com/" 
        frameborder="0"
        style="height: 18rem"
        ></iframe>
    </main>

    <form id="codeForm", name="codeForm">
        <label for="code">Code</label><br>
        <input type="text" name="code" id="code"><br>
        <label for="phone">Phone</label><br>
        <input type="text", name="phone" id="phone"><br>
        <input type="submit" value="Submit">
    </form>

</body>
<script>
    document.getElementById("codeForm").addEventListener("submit", event =>{
        event.preventDefault();
        console.log("Hello")
        const formData = new FormData(event.target)

        let code = formData.get("code")
        let phone = formData.get("phone")
        const requestData = {"code": code, "phone": phone}
        console.log(code + phone)

        fetch("/validate", {
            method: "POST",
            headers: {
                "Content-Type": "application/json",
            },
            body: JSON.stringify(requestData)
        })
            .then(response => {console.log(response)})
            .then(data => {console.log(data)})
    }, false)
</script>
</html>
